{% extends 'perevod_app/search_word.html' %}

{% block content %}

<div style="margin: 0 auto;">
    <form action="" method="post" style="box-shadow: none; height: max-content;">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <div style="width: 40%; display: flex;">
            <input type="submit" value="Зберегти" style="margin-right: 40px; background-color: #00ad5f; color: #fff;">
            <input type="submit" onclick="window.location='{% url 'all' %}'; return false;" value="Відміна" style="background-color: rgb(230, 47, 47); color: #fff;">
        </div>    
    </form> 
</div>

{% endblock %}